
SLACK_BOT_TOKEN=xoxb-your-bot-token-here
SLACK_SIGNING_SECRET=your-signing-secret-here
SLACK_APP_TOKEN=xapp-your-app-token-here # obviously for socket mode

DATABASE_URL=postgresql://username:password@localhost:5432/hwf_slackbot

FIREBASE_PROJECT_ID=howwefeel
FIREBASE_WEB_API_KEY=AIzaSyCq7GOUb9YwKTZ7qizNJ7KHVUPlZV1p__A
FIREBASE_REFRESH_TOKEN=your-refresh-token-here # for polling friend acceptance, will make a tutorial for this later

PORT=3000
NODE_ENV=development 